<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ app_index_title }}</title>
  </head>
  <body>
    <h1>{{ inventory_hostname }}</h1>
    <p>{{ app_index_message }}</p>
  </body>
</html>
